@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.chessboard {
    display: inline-block;
    border: 2px solid #333;
  }
  
  .chess-row {
    display: flex;
  }
  
  .white-square, .black-square, .promotion-piece {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
  }
  
  .white-square {
    background-color: #f0d9b5;
  }
  
  .black-square {
    background-color: #b58863;
  }

  .highlight {
    opacity: 0.5;
    background-color: red;
  }

  .row-number {
    display: flex;
    justify-content: center;
    float: left;
    margin: auto;
  }

  .col-letter {
    width: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
    float: left
  }

  .promotion-piece {
    background-color: aquamarine;
  }
  
  .black-bishop, .black-king, .black-knight, .black-pawn, .black-queen, .black-rook,
  .white-bishop, .white-king, .white-knight, .white-pawn, .white-queen, .white-rook {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .black-bishop {
    background-image: url("/images/black-bishop.png");
  }
  .black-king {
    background-image: url("/images/black-king.png");
  }
  .black-knight {
    background-image: url("/images/black-knight.png");
  }
  .black-pawn {
    background-image: url("/images/black-pawn.png");
  }
  .black-queen {
    background-image: url("/images/black-queen.png");
  }
  .black-rook {
    background-image: url("/images/black-rook.png");
  }
  .white-bishop {
    background-image: url("/images/white-bishop.png");
  }
  .white-king {
    background-image: url("/images/white-king.png");
  }
  .white-knight {
    background-image: url("/images/white-knight.png");
  }
  .white-pawn {
    background-image: url("/images/white-pawn.png");
  }
  .white-queen {
    background-image: url("/images/white-queen.png");
  }
  .white-rook {
    background-image: url("/images/white-rook.png");
  }

  #move-register {
    display: flex;
    justify-content: center;
    float: right;
    margin: auto;
  }

  #game-render-frame {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #recorder {
    justify-content: center;
    margin: auto;
    border: 2px solid #333;
  }

  td.move {
    justify-content: center;
    border: 2px solid #333;
  }